<form action="/posts" method="POST">
  Post Title: <input type="text" name="name" id="name">
  Post Content: <input type="text" name="content" id="content">
  <input type="submit" id="submit">
</form>